html {
  height: 100%;
}

body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body.arpentor {
  font-family: Roboto Condensed;
}

a {
  text-decoration: none;
  color: #f0bf00;
}

h1, h2, p {
  width: 100%;
  float: left;
  color: white;
}

h1 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 70px;
  letter-spacing: -4px;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  line-height: 160%;
}

p {
  font-weight: 100;
  text-shadow: 1px 1px 1px #333333;
}

a[class^='sprite'] {
  display: block;
  width: 61px;
  height: 60px;
  background: url('../images/free-flat-social-icons.png');
  background-repeat: no-repeat;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    a[class^='sprite'] {
      background: url('../images/free-flat-social-icons@2.png');
      background-size: 693px 516px;
    }
}

a.sprite-github {
  background-position: -237px 0;
}

a.sprite-twitter {
  background-position: 0 0;
}

a.sprite-linkedin {
  background-position: -316px -79px;
}

a.sprite-soundcloud {
  background-position: -553px -160px;
}

a.sprite-email {
  background-position: -158px -239px;
}

#content {
  height: 100% !important;
  margin: 0 auto;
  overflow: hidden;
}

.info {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.brick-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/brick-bg.jpg);
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A6000000', endColorstr='#A6000000'), progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/brick-bg.jpg", sizingMethod='scale');
}

.page-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

ul.icon-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}

ul.icon-list li {
  display: inline-block;
}
