html {
  height: 100%;
}

body {
  background: rgb(30, 34, 39);
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  height: 100%;
  line-height: 1.15;
}

a {
  text-decoration: none;
  color: #f0bf00;
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

a[class^='sprite'] {
  display: block;
  width: 61px;
  height: 60px;
  background: url('../images/free-flat-social-icons.png');
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  a[class^='sprite'] {
    background: url('../images/free-flat-social-icons@2.png');
    background-size: 693px 516px;
  }
}

a.sprite-github {
  background-position: -237px 0;
}

a.sprite-twitter {
  background-position: 0 0;
}

a.sprite-linkedin {
  background-position: -316px -79px;
}

a.sprite-soundcloud {
  background-position: -553px -160px;
}

a.sprite-email {
  background-position: -158px -239px;
}

.info {
  width: 100%;
  max-width: 60rem;
  text-align: center;
  margin: 3rem auto;
}

ul.icon-list {
  text-align: center;
  padding: 0;
}

ul.icon-list li {
  display: inline-block;
}
