html {
      height: 100%;
}

body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1, h2 {
  width: 100%;
  float: left;
}

h1 {
  margin-top: 100px;
  color: #000;
  margin-bottom: 5px;
  font-size: 70px;
  letter-spacing: -4px;
  font-weight: 100;
}

h1 span {
  font-size: 26px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(0,0,0,0.85);
  display: inline-block;
  color: #6D461D;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding: 3px 10px;
}

h2 {
  color: #6D461D;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-weight: 100;
}

.pointer {
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}

a[class^='sprite'] {
  display: block;
  width: 61px;
  height: 60px;
}

.sprite-github {
  background: url('images/free-flat-social-icons.png') no-repeat -237px 0;
}

.sprite-twitter {
  background: url('images/free-flat-social-icons.png') no-repeat 0 0;
}

.sprite-linkedin {
  background: url('images/free-flat-social-icons.png') no-repeat -316px -79px;
}

.sprite-soundcloud {
  background: url('images/free-flat-social-icons.png') no-repeat -553px -160px;
}

.sprite-email {
  background: url('images/free-flat-social-icons.png') no-repeat -158px -239px;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main h1 {
  float: left;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  color: white;
  margin: 0;
}

.main h1.demo1 {
  background: #1ABC9C;
}

header {
  position: relative;
  z-index: 10;
}

.page_container {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}

.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.background {
  background: url(images/black-and-white-forest-lake-2312.jpg) #0b333f no-repeat center center fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.page-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.page1 h1 {
  margin-bottom: 15px;
}

.page1 h2 {
  text-align: center;
  line-height: 160%;
}

.page1 h1, h2, p {
  color: white;
}

.page1 p {
  text-shadow: 1px 1px 1px #333333;
}

.page1 a {
  color: #f0bf00;
}

.page1 ul {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.page1 ul li {
  display: inline-block;
}

.main section .page_container .btns {
  clear: both;
  float: left;
  text-align: center;
  width: 435px;
}

.main section .page_container .btns a{
  text-align: center;
}

.main section.page2 {
  background: #312A1E;
}

.main section.page2 a {
  color: #f0bf00;
}
